<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>

    <body><main>
        <h1>Game <%- id %> Stats</h1>

        <p>
	    <% if (homeTeam && awayTeam) { %>
		<%- homeTeam %> vs <%- awayTeam %> <%- year %>
	    <% } else { %>
		Teams Unknown (likely not recieved from API)
	    <% } %>

        <%- summary %>
        </p>

        <div><!--  class="results">-->
            <%- stats %>
        </div>

        <%- include("footer") %>
    </main></body>
</html>
