<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>

    <body>
        <h1><mark>Game <%- id %> Stats</mark></h1>

        <div class ="results">
	    <% if (homeTeam && awayTeam) { %>
		<%- homeTeam %> vs <%- awayTeam %> <- year %>
	    <% } else { %>
		Teams Unknown (likely not recieved from API)
	    <% } %>

            <%- summary %>
        </div>
        <br><br>

        <div class="results">
            <%- stats %>
        </div>

        <%- include("footer") %>
    </body>
</html>
