<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>College Football Stats</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>

    <body>
    <main>
        <h1><mark><%- team1 %> vs <%- team2 %></mark></h1>
        <div class ="results">
            <%- summary %>
        </div>

        <br><br>
        <div class ="results">
            <%- data %>
        </div>
        <br>

        <%- include("footer") %>
    </main>
    </body>
</html>
