<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Stats</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>

    <body><main>
        <h1><%- team %> <%- year %> Stats</h1>

        <h2><%- summary %></h2>

        <div class="results">
        <%- stats %>
        </div>

        <%- include("footer") %>
    </main></body>
</html>
